body {
    font-size: x-large;
}

table {
    border-collapse: collapse;
    font-size: large;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 5px;
    text-align: right;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

td.center {
    text-align: center;
}

input, select {
    font-size: large;
}